n8n-workflows/03-auto-nudge.json
{
  "name": "Email Triage Agent — Auto-Nudge",
  "active": false,
  "nodes": [
    {
      "id": "trigger-1",
      "name": "Schedule (weekday mornings)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 240],
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 9 * * 1-5" }
          ]
        }
      }
    },
    {
      "id": "fetch-due-1",
      "name": "List Due Nudges",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 240],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.APPS_SCRIPT_WEBAPP_URL }}?fn=listDueNudges",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": { "response": { "response": { "fullResponse": false, "responseFormat": "json" } } }
      },
      "credentials": {
        "httpHeaderAuth": { "id": "{{N8N_CRED_HTTP_ID}}", "name": "Apps Script Bearer" }
      }
    },
    {
      "id": "split-1",
      "name": "Split Out Nudges",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [720, 240],
      "parameters": { "fieldToSplitOut": "data", "options": {} }
    },
    {
      "id": "generate-1",
      "name": "Generate Nudge Body",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 240],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.APPS_SCRIPT_WEBAPP_URL }}?fn=generateNudgeEmail",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": $json.target_type,\n  \"opts\": {\n    \"dealTitle\": $json.related_subject,\n    \"org\": $json.target_name,\n    \"contact\": $json.target_name,\n    \"stage\": \"\",\n    \"notes\": $json.notes\n  }\n}"
      },
      "credentials": {
        "httpHeaderAuth": { "id": "{{N8N_CRED_HTTP_ID}}", "name": "Apps Script Bearer" }
      }
    },
    {
      "id": "stage-draft-1",
      "name": "Stage as Pending Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 240],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.APPS_SCRIPT_WEBAPP_URL }}?fn=saveTriageEmail",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"record\": {\n    \"id\": $('Split Out Nudges').item.json.id + '-nudge-' + $now,\n    \"from_email\": $('Split Out Nudges').item.json.target_email,\n    \"from_name\":  $('Split Out Nudges').item.json.target_name,\n    \"subject\":    'Following up — ' + $('Split Out Nudges').item.json.related_subject,\n    \"category\":   'QUOTE_FOLLOW_UP',\n    \"priority\":   'normal',\n    \"summary\":    'Auto-nudge generated by schedule.',\n    \"draft_reply\": $json.body,\n    \"received_at\": $now\n  }\n}"
      },
      "credentials": {
        "httpHeaderAuth": { "id": "{{N8N_CRED_HTTP_ID}}", "name": "Apps Script Bearer" }
      }
    },
    {
      "id": "record-1",
      "name": "Record Nudge Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 240],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.APPS_SCRIPT_WEBAPP_URL }}?fn=recordNudgeSent",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"targetType\":  $('Split Out Nudges').item.json.target_type,\n  \"targetId\":    $('Split Out Nudges').item.json.target_id,\n  \"cadenceDays\": $('Split Out Nudges').item.json.cadence_days\n}"
      },
      "credentials": {
        "httpHeaderAuth": { "id": "{{N8N_CRED_HTTP_ID}}", "name": "Apps Script Bearer" }
      }
    }
  ],
  "connections": {
    "Schedule (weekday mornings)": { "main": [[{ "node": "List Due Nudges",       "type": "main", "index": 0 }]] },
    "List Due Nudges":             { "main": [[{ "node": "Split Out Nudges",      "type": "main", "index": 0 }]] },
    "Split Out Nudges":            { "main": [[{ "node": "Generate Nudge Body",   "type": "main", "index": 0 }]] },
    "Generate Nudge Body":         { "main": [[{ "node": "Stage as Pending Draft","type": "main", "index": 0 }]] },
    "Stage as Pending Draft":      { "main": [[{ "node": "Record Nudge Sent",     "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
